* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    background-position: center; /* この二つは、背景画像セットするときのおすすめセットです。*/
    background-size: cover;
}

nav {
    text-align: center;
    background-color: aqua;
}
nav ul {
    display: flex;
    justify-content: center;
    
}
nav ul li {
    list-style: none;
    font-size: 1rem;
}
nav ul li a {
    display: inline-block; /* おもしれぇ。インラインブロックにすれば、<a>タグのpadding領域、拡張できるじゃん */
    text-decoration: none;
    padding: 4vh;
    color: #fff;
}
nav ul li a:hover {
    color: black;
}

.text {
    
}

.btn:hover .text{
    background-color: blue;
}

